.container {
  width: 411px;
  height: 768px;
  padding: 40px 16px 48px;
  background-color: #ffffff;
}
.MaterialIcons-blackArrow-back {
  width: 24px;
  height: 24px;
  color: #00d04c;
  margin: 0 355px 61px 0;
  object-fit: contain;
}
.title {
  width: 98px;
  height: 36px;
  margin: 0 281px 31px 0;
  font-family: NotoSansCJKtc;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #232323;
}

.divider {
  width: 379px;
  margin: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.12);
}

.form-label{
  width: 66px;
  height: 20px;
  margin: 0 313px 1px 0;
  font-family: NotoSansCJKtc;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #232323;
}
.background{
  width: 379px;
  height: 40px;
  margin: 1px 0 0;
  padding: 3px 0 3px 0;
  font-size: 14px;
  border: none;
}
.error-info {
  width: 58px;
  height: 21px;
  margin: 16px 321px 55px 0;
  font-family: NotoSansCJKtc;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #ff3b30;
}
.forgot-password {
  width: 58px;
  height: 21px;
  margin: -78px 0 55px 321px;
  font-family: NotoSansCJKtc;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color:#232323
}
.password-info {
  width: 169px; 
  height: 21px;
  margin: 16px 211px 55px 0;
  font-family: NotoSansCJKtc;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #979797;
}

.privacy-info {
  width: 379px;
  height: 45px;
  margin: 16px 0 40px;
  font-family: NotoSansCJKtc;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #232323;
}

.privacy-info .text-style-1 {
  color: #007aff;  
}

.Rectangle {
  width: 379px;
  height: 48px;
  margin: 40px 0 0;
  padding: 12px 147px 12px 149px;
  border-radius: 4px;
  background-color: #00d04c;
  border: none;

  font-family: NotoSansCJKtc;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}